body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.header1 {
    width: 100%;
    height: 300em;   
    margin: 0;
    padding: 0;

    
}

.header1 .menu{
    width: 100%;
    height: 5em;
   display: flex;
   align-items: center;
   justify-content: space-between;
    background: green;
    
}

.header1 .menu .menu1{
    display: inline;
    font-size: 1.5em;

}
.header1 .menu .menu1 ul{

    list-style: none;
}

.header1 .menu .menu1 ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.header1 .menu .menu2 ul{
    display: flex;
    list-style: none;

}

.header1 .menu .menu2 ul li{
    
    padding-right: 2.7em;
    font-size: 1em;
}
.header1 .menu .menu2 ul li a{
    text-decoration: none;
    color: black;
}

/* header div { 
    margin: 0;
    padding: 0;
    display: contents;
    
    width: 100%;
    height: 4em;
    position: fixed;
    background: white;
    
} */


/* header div .menu1 {
    display: inline-block;
    align-content: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    top: 20px;
   
}
header .menu1 ul li{
    list-style: none;
    font-size: 1.3em;
}

header .menu2 {
    display: inline-block;
    align-content: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    left: 36em;
    
}

header .menu2 ul li{
    list-style: none;
    font-size: 1.3em;
    display: flex;
    
}
header .menu2 ul li a{
display: flex;
} */

.Encabezdo{
    height: 600px;
    width: auto;
    position: relative;
}
.Encabezdo section img{
    display: block;
}