body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.header1 {
    width: 100%;
       
    margin: 0;
    padding: 0;

    
}

.header1 .menu{
    width: 100%;
    height: 5em;
   display: flex;
   align-items: center;
   justify-content: space-between;
    background: white;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
    
}

.header1 .menu .menu1{
    display: inline;
    font-size: 1.5em;

}
.header1 .menu .menu1 ul{

    list-style: none;
}

.header1 .menu .menu1 ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.header1 .menu .menu2 ul{
    display: flex;
    list-style: none;

}

.header1 .menu .menu2 ul li{
    
    padding-right: 2.7em;
    font-size: 1em;
}
.header1 .menu .menu2 ul li a{
    text-decoration: none;
    color: black;
}


.encabezado{
    height: 600px;
    width: auto;
    position: relative;
    border: 10px solid aquamarine;
    z-index: 2;
}

.encabezado div{
    margin: 0;
    position: absolute;
    z-index: 3;
    left: 8%;
    top: 27%;
    
    height: 50%;
}

.encabezado h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

.encabezado h2{
    text-align: center;
    font-size: 16px;
    color: white;
}

/* .encabezado  h1{
    margin: 0;
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    left: 50%;
    top:4%;
    font-size: 3em;
    z-index: 3;

}
.encabezado h1 p{
    text-align: center;
}
.encabezado  h2 {
    text-align: center;
    color: black;
    z-index: 4;
} */